{% extends "base.html" %}

{% block content %}
<h1><a href="/">tooter.today</a></h1>

<h2>Get on the Mastodon federation today!</h2>
<p>This tool makes it easy to find a Mastodon instance if you're not sure where to start.</p>

<div class="suggestion-container">
	<h2 class="suggestion-title">{{emoji}} {{maybe_text}} {{emoji}}</h2>

	<h3 class="suggestion"><a href="{{recommended_instance.domain}}">{{recommended_instance.domain}}</a></h3>

	<p class="suggestion-note">It's got <b>{{recommended_instance.user_count}}</b> users, an uptime of {{recommended_instance.uptime}}%, and registrations are open! They've also made {% if recommended_instance.status_count %}{{recommended_instance.status_count}}{% else %}0{% endif %} posts and are connected to {% if recommended_instance.connected_instance_count %}{{recommended_instance.connected_instance_count}}{% else %}0{% endif %} other instances.</p>

	{% if recommended_instance.long_about %}
		<h3 class="suggestion-about-title">About <a href="{{recommended_instance.domain}}"><b>{{recommended_instance.domain}}</b></a> (from their <a href="{{recommended_instance.domain}}/about/more">about page</a>)</h3>

		<div class="suggestion-about">
			{{recommended_instance.long_about | safe}}
		</div>
	{% else %}
		<h3 class="suggestion-about-title"><a href="{{recommended_instance.domain}}"><b>{{recommended_instance.domain}}</b></a> doesn't have any info on their about page!</h3>
	{% endif %}
	<h3 class="suggestion again"><a href="/suggestions/{{next_suggestion_index}}">{{again_text}}</a></h3>
</div>

<h3>How does this work?</h3>
<p>It ranks instances according to a simple scoring algorithm. We have a "core score" that's derived by the HTTPS score of the instance, whether it has a description, whether the description is longer than tweet length, and whether the instance supports IPV6. This core score is then multiplied by an exponential function of the instance's uptime (getting exponentially worse as the instance's uptime is worse), and then divided by a parabolic scale of the number of users on the instance.</p>
<p>The end result of this is that the service ranks services heavily according to security factors like HTTPS support, predictability for new users via checking descriptions, makes sure that the service has high-quality uptime, and tries to recommend servers that are neither too full nor too empty (I've chosen 60 people as the sweet joining spot)</p>
<p>Tons of credit to <a href="https://instances.mastodon.xyz">instances.mastodon.xyz</a>, which maintains most of the data used here.</p>

<h3>Not enough?</h3>
<p>If you want to view a whole list of instances and judge them en masse for yourself, check them out at <a href="https://instances.mastodon.xyz">instances.mastodon.xyz</a>.</p>

<h3>Who made this?</h3>
<p>Me! <a href="https://maly.io/@way">@way@maly.io</a> on the <a href="https://maly.io/">Maly</a> instance. If this tool is useful to you (or you're glad that it exists), I'd appreciate your checking out my super neato glitch art and futurology news newsletter <a href="http://www.glitchet.com/">Glitchet</a>, and maybe seeing if you're feeling generous <a href="https://www.patreon.com/way">on my Patreon</a>.</p>

<h3>Can I see the source?</h3>
<p>You sure can! It's available <a href="https://github.com/wayspurrchen/tooter.today">on GitHub.</a></p>
{% endblock %}